.mi-full-height {
    height: 100%
}

.mi-wikilink {
    color: deepskyblue;
    text-decoration: underline;
    cursor: pointer;
}

.mi-wikilink-none {
    color: gray;
    text-decoration: underline;
}

.mi-bold {
    font-weight: bolder;
}

.mi-italic {
    font-style: italic;
}

.mi-inline-code {
    font-family: monospace;
    background-color: black;
}

.mi-icon {
    color: gray;
    margin-left: 5px;
    height: 16px;
    display: inline-block;
    vertical-align: sub
}

.mi-button {
    cursor: pointer;
}

.mi-codeblock {

}

.mi-codeblock-heading {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

.mi-codeblock-task {

}

.mi-codeblock-task hr {
    margin-bottom: 4px;
}

.mi-codeblock-task-content {

}

.mi-codeblock-task-content-tags {

}

.mi-codeblock-task-content-tags-tag {
    margin-left: 7px;
    font-size: 0.75em;
    color: silver;
}

.mi-codeblock-task-content-due {
    margin-right: 7px;
    font-family: monospace;
    font-size: 0.75em;
    color: green;
}

.mi-codeblock-task-source {
    margin-left: 7px;
    font-size: 0.75em;
    color: silver;
}

.mi-codeblock-source-link {
    color: deepskyblue;
    text-decoration: underline;
    cursor: pointer;
}

.mi-codeblock-task-subtask-percentage {
    margin-left: 5px;
    font-size: 0.75em;
    color: white;
}

.mi-codeblock-task-menu-link {
    cursor: pointer;
}

.mi-codeblock-task-menu {
    visibility: hidden;
    position: absolute;
    bottom: 125%;
    left: 50%;
    z-index: 100;
    border: 1px solid white;
}

.mi-codeblock-task-menu-show {
    visibility: visible;
}

.mi-codeblock-task-menu-item {
    padding: 3px;
    color: silver
}

.mi-codeblock-task-subtask {
    margin-left: 30px;
}

.mi-codeblock-task-subtask-content {

}

.mi-codeblock-task-notes {
    margin: 0 0 0 15px !important;
}

.mi-codeblock-task-notes-note {
    margin: 0 !important;
}

.mi-codeblock-item-count {
    margin-top: 6px;
    margin-left: 15px;
    color: grey;
}

.mi-codeblock-stats {
    color: silver;
}

.mi-codeblock-group-label {
    font-weight: bolder;
}

.mi-codeblock-page-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5px;
}

.mi-codeblock-card {
    display: flex;
    flex-direction: column;
}

.mi-codeblock-card-title-container {
    font-weight: bolder;
    display: flex;
    padding: 10px;
}

.mi-codeblock-card-title {
    flex: 1;
}

.mi-codeblock-card-description {

}

.mi-codeblock-card-properties {

}

.mi-codeblock-card-properties-label {

}

.mi-codeblock-card-properties-value {

}

.mi-codeblock-page-gallery > div {
    background-color: #303030;
    margin-bottom: 10px;
}

.mi-codeblock-page-gallery-title {
    display: flex;
    padding: 10px;
}

.mi-codeblock-page-gallery-title > span:first-of-type {
    flex: 1;
}

.mi-codeblock-page-gallery-fields {
    background-color: #252525;
    display: grid;
    row-gap: 3px;
    grid-template-columns: 2fr 3fr;
    padding: 5px 10px;
}

.mi-codeblock-page-gallery-fields-label {

}

.mi-codeblock-page-gallery-fields-value {

}

.mi-codeblock-cover-image-container {
    min-height: 126px;
}

.mi-codeblock-cover-image {
   object-fit: contain;
   max-width: 100%;
   max-height: 100%;
   width: auto;
   height: auto;
}

.mi-codeblock-menu-container {
    position: relative;
    display: inline-block;
}

.mi-codeblock-menu {
    display: none;
    position: absolute;
    background-color: #252525;
    min-width: 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 15px;
    top: -1px
}

.mi-codeblock-menu a {
    color: white;
    padding: 3px 1px 1px 4px;
    text-decoration: none;
    display: block;
}

.mi-codeblock-menu-container:hover .mi-codeblock-menu {
    display: block;
}

.mi-codeblock-menu-container:hover button {
    background-color: #3e8e41;
}
