.ul-wikilink {
    color: deepskyblue;
    text-decoration: underline;
    cursor: pointer;
}

.ul-wikilink-none {
    color: gray;
    text-decoration: underline;
}

.ul-bold {
    font-weight: bolder;
}

.ul-italic {
    font-style: italic;
}

.ul-inline-code {
    font-family: monospace;
    background-color: black;
}

.ul-icon {
    color: gray;
    margin-left: 5px;
}

.ul-button {
    cursor: pointer;
}

.ul-codeblock {

}

.ul-codeblock-heading {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

.ul-codeblock-task {

}

.ul-codeblock-task hr {
    margin-bottom: 4px;
}

.ul-codeblock-task-content {

}

.ul-codeblock-task-content-tags {

}

.ul-codeblock-task-content-tags-tag {
    margin-left: 7px;
    font-size: 0.75em;
    color: silver;
}

.ul-codeblock-task-content-due {
    margin-right: 7px;
    font-family: monospace;
    font-size: 0.75em;
    color: green;
}

.ul-codeblock-task-source {
    margin-left: 7px;
    font-size: 0.75em;
    color: silver;
}

.ul-codeblock-task-source-link {
    color: deepskyblue;
    text-decoration: underline;
    cursor: pointer;
}

.ul-codeblock-task-subtask-percentage {
    margin-left: 5px;
    font-size: 0.75em;
    color: white;
}

.ul-codeblock-task-menu-link {
    cursor: pointer;
}

.ul-codeblock-task-menu {
    visibility: hidden;
    position: absolute;
    bottom: 125%;
    left: 50%;
    z-index: 100;
    border: 1px solid white;
}

.ul-codeblock-task-menu-show {
    visibility: visible;
}

.ul-codeblock-task-menu-item {
    padding: 3px;
    color: silver
}

.ul-codeblock-task-subtask {
    margin-left: 30px;
}

.ul-codeblock-task-subtask-content {

}

.ul-codeblock-task-notes {
    margin: 0 0 0 15px !important;
}

.ul-codeblock-task-notes-note {
    margin: 0 !important;
}

.ul-codeblock-task-count {
    margin-top: 6px;
    margin-left: 15px;
    color: grey;
}

.ul-codeblock-stats {
    color: silver;
}
